In [383]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [384]:
df = pd.read_excel('DataBalita.xlsx')
df

      NO             NAMA_ANAK JK  Usia    BB     TB  Stunting
0      1    Nabila Hasna Amira  P    58  14.8  102.1    Normal
1      2    Marta Emi Masithoh  P    57  12.3   93.3    Normal
2      3   Nizama Kenzo Alvero  L    57  13.8  101.0    Normal
3      4  Haikal Cahya Wardana  L    57  14.8  102.3    Normal
4      5    Arsy Hilma Fadhila  P    59  14.1   97.5    Normal
..   ...                   ... ..   ...   ...    ...       ...
186  187   Qurota Ayunindya S.  P     3   4.0   59.6    Normal
187  188       Lubna Alifia K.  P     3   3.7   55.1    Normal
188  189    Rayyanza Kenzie I.  L     1   3.5   54.5  Obesitas
189  190       Fazana Mayra R.  P     1   3.4   52.5  Obesitas
190  191     Vanya Afsheena R.  P     1   4.0   53.5  Obesitas

[191 rows x 7 columns]

In [385]:
df = df.replace (["Gizi Buruk"], 0)
df = df.replace (["Gizi Kurang"], 1)
df = df.replace (["Normal"], 2)
df = df.replace (["Obesitas"], 3)
df.head(10)

   NO               NAMA_ANAK JK  Usia    BB     TB  Stunting
0   1      Nabila Hasna Amira  P    58  14.8  102.1         2
1   2      Marta Emi Masithoh  P    57  12.3   93.3         2
2   3     Nizama Kenzo Alvero  L    57  13.8  101.0         2
3   4    Haikal Cahya Wardana  L    57  14.8  102.3         2
4   5      Arsy Hilma Fadhila  P    59  14.1   97.5         2
5   6          Fano Irwansyah  L    59  16.1   92.1         2
6   7  Alvin Zaidan Syafiulla  L    59  13.0   93.3         2
7   8      Naura Shafa Azizah  P    59  10.1   88.3         2
8   9  Muhammad Ali Al-Furqon  L    58  12.9   95.1         2
9  10  Muamar Hafiz Ramadhani  L    58  14.1   94.5         2

In [386]:
df = df.replace (["P"], 0)
df = df.replace (["L"], 1)
df.head(20)

    NO                     NAMA_ANAK  JK  Usia    BB     TB  Stunting
0    1            Nabila Hasna Amira   0    58  14.8  102.1         2
1    2            Marta Emi Masithoh   0    57  12.3   93.3         2
2    3           Nizama Kenzo Alvero   1    57  13.8  101.0         2
3    4          Haikal Cahya Wardana   1    57  14.8  102.3         2
4    5            Arsy Hilma Fadhila   0    59  14.1   97.5         2
5    6                Fano Irwansyah   1    59  16.1   92.1         2
6    7        Alvin Zaidan Syafiulla   1    59  13.0   93.3         2
7    8            Naura Shafa Azizah   0    59  10.1   88.3         2
8    9        Muhammad Ali Al-Furqon   1    58  12.9   95.1         2
9   10        Muamar Hafiz Ramadhani   1    58  14.1   94.5         2
10  11         Handika Putra Hafiz N   1    58  12.0   94.4         2
11  12                Andika Pratama   1    57  16.2   97.9         2
12  13        Aditya Zainul Muttaqin   1    55  14.9   95.6         2
13  14      Ernest Funky Oktaryan .P   1    54  11.7   88.4         2
14  15            Alvino Dwi Saputra   1    55  13.6   89.7         2
15  16       Khalifa Azzahra Jailani   0    50  12.3   91.2         2
16  17          Fernando Ahmad Rifai   1    50  11.8   91.3         2
17  18        Arshaka Aldhien Andani   1    49  22.7  103.1         2
18  19     Aletta Khasandra Setiawan   0    44  11.8   85.1         2
19  20  Ifa Nur Hafidzah Mu'isdzah.K   0    47  14.9   97.8         2

In [387]:
df = df.drop("NAMA_ANAK", axis=1); axis=1

In [388]:
df.shape

(191, 6)

In [389]:
df.dtypes

NO            int64
JK            int64
Usia          int64
BB          float64
TB          float64
Stunting      int64
dtype: object

In [390]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NO        191 non-null    int64
 1   JK        191 non-null    int64
 2   Usia      191 non-null    int64
 3   BB        191 non-null    float64
 4   TB        191 non-null    float64
 5   Stunting  191 non-null    int64
dtypes: float64(2), int64(4)
memory usage: 9.1 KB

In [391]:
df["JK"] = df["JK"].astype("float")

In [392]:
df["Stunting"] = df["Stunting"].astype("float")

In [393]:
df["Usia"] = df["Usia"].astype("float")

In [394]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NO        191 non-null    int64
 1   JK        191 non-null    float64
 2   Usia      191 non-null    float64
 3   BB        191 non-null    float64
 4   TB        191 non-null    float64
 5   Stunting  191 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 9.1 KB

In [395]:
df = df.drop("NO", axis=1); axis=1

In [396]:
df.describe

<bound method NDFrame.describe of       JK  Usia    BB     TB  Stunting
0    0.0  58.0  14.8  102.1       2.0
1    0.0  57.0  12.3   93.3       2.0
2    1.0  57.0  13.8  101.0       2.0
3    1.0  57.0  14.8  102.3       2.0
4    0.0  59.0  14.1   97.5       2.0
..   ...   ...   ...    ...       ...
186  0.0   3.0   4.0   59.6       2.0
187  0.0   3.0   3.7   55.1       2.0
188  1.0   1.0   3.5   54.5       3.0
189  0.0   1.0   3.4   52.5       3.0
190  0.0   1.0   4.0   53.5       3.0

[191 rows x 5 columns]>

In [397]:
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline

In [398]:
X = df.drop(columns='Stunting') 
X.head()

    JK  Usia    BB     TB
0  0.0  58.0  14.8  102.1
1  0.0  57.0  12.3   93.3
2  1.0  57.0  13.8  101.0
3  1.0  57.0  14.8  102.3
4  0.0  59.0  14.1   97.5

In [399]:
y = df['Stunting']
y.head()

0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
Name: Stunting, dtype: float64

In [400]:
scaler = StandardScaler()

In [401]:
scaler.fit(X)

StandardScaler()

In [402]:
standarized_data = scaler.transform(X)

In [403]:
print(standarized_data)

[[-0.96399841  1.50832428  0.59315841  1.06900234]
 [-0.96399841  1.44968598  0.03351972  0.45014888]
 [ 1.03734611  1.44968598  0.36930294  0.99164566]
 [ 1.03734611  1.44968598  0.59315841  1.0830672 ]
 [-0.96399841  1.56696257  0.43645958  0.74551076]
 [ 1.03734611  1.56696257  0.88417053  0.36575977]
 [ 1.03734611  1.56696257  0.19021855  0.45014888]
 [-0.96399841  1.56696257 -0.45896233  0.0985276 ]
 [ 1.03734611  1.50832428  0.16783301  0.57673255]
 [ 1.03734611  1.50832428  0.43645958  0.53453799]
 [ 1.03734611  1.50832428 -0.03363692  0.52750557]
 [ 1.03734611  1.44968598  0.90655608  0.77364046]
 [ 1.03734611  1.3324094   0.61554396  0.61189467]
 [ 1.03734611  1.2737711  -0.10079357  0.10556002]
 [ 1.03734611  1.3324094   0.32453184  0.19698156]
 [-0.96399841  1.03921793  0.03351972  0.30246794]
 [ 1.03734611  1.03921793 -0.07840802  0.30950037]
 [ 1.03734611  0.98057963  2.36161669  1.1393266 ]
 [-0.96399841  0.68738816 -0.07840802 -0.12651002]
 [-0.96399841  0.86330305  0.61554396  0.76660804]
 [ 1.03734611  0.80466475  0.2573752   0.53453799]
 [ 1.03734611  0.80466475  0.2126041   0.75957561]
 [ 1.03734611  0.80466475  0.7274717   1.01977536]
 [-0.96399841  0.3941967  -0.36942014 -0.28825582]
 [-0.96399841  0.62874987 -0.05602247  0.35872735]
 [ 1.03734611  0.57011158  0.12306191  0.56266769]
 [-0.96399841  0.57011158 -0.05602247  0.47124616]
 [-0.96399841  0.57011158  0.52600177  0.91428898]
 [-0.96399841  0.27692011 -0.43657678 -0.49922859]
 [ 1.03734611  0.51147328  0.27976075  0.65408923]
 [-0.96399841  0.27692011 -0.54850452 -0.29528824]
 [ 1.03734611  0.45283499  0.32453184  0.62595953]
 [ 1.03734611  0.45283499  0.07829082  0.47124616]
 [ 1.03734611  0.45283499  0.23498965  0.63299195]
 [ 1.03734611  0.21828182 -0.12317911  0.3446625 ]
 [-0.96399841  0.15964352 -0.57089007 -0.04212092]
 [ 1.03734611  0.10100523 -0.01125137  0.45718131]
 [-0.96399841  0.04236693 -0.54850452 -0.27419096]
 [ 1.03734611 -0.01627136 -0.01125137  0.24620854]
 [-0.96399841 -0.07490965 -0.32464904 -0.1476073 ]
 [ 1.03734611 -0.13354795  1.10802601  0.56266769]
 [-0.96399841 -0.13354795 -0.3022635   0.17588428]
 [-0.96399841 -0.42673941 -0.39180569 -0.3374828 ]
 [ 1.03734611 -0.19218624  0.03351972  0.24620854]
 [-0.96399841 -0.25082453 -0.43657678 -0.16167215]
 [ 1.03734611 -0.25082453 -0.41419123 -0.26012611]
 [ 1.03734611 -0.30946283 -0.27987795  0.04226819]
 [ 1.03734611 -0.30946283 -0.10079357  0.09149517]
 [ 1.03734611 -0.42673941 -0.2574924  -0.09838032]
 [ 1.03734611 -0.48537771 -0.66043226 -0.31638552]
 [ 1.03734611 -0.48537771 -0.66043226 -0.31638552]
 [-0.96399841 -0.6026543  -0.79474555 -0.52735829]
 [ 1.03734611 -0.66129259 -0.79474555 -0.63284468]
 [-0.96399841 -0.66129259 -0.63804671 -0.68910408]
 [-0.96399841 -0.66129259 -0.57089007 -0.54142314]
 [ 1.03734611 -0.95448406 -1.10814321 -1.29389269]
 [-0.96399841 -0.95448406 -0.90667328 -0.98446596]
 [ 1.03734611 -0.95448406 -0.45896233 -0.70316893]
 [-0.96399841 -0.95448406 -0.97382993 -0.98446596]
 [-0.96399841 -1.01312235 -0.66043226 -0.83678502]
 [-0.96399841 -1.07176064 -0.79474555 -0.87194715]
 [ 1.03734611 -1.13039894 -0.61566116 -1.07588749]
 [-0.96399841 -1.13039894 -1.15291431 -1.25873056]
 [-0.96399841 -1.30631382 -0.95144438 -0.99853081]
 [ 1.03734611 -1.30631382 -0.81713109 -1.33608725]
 [ 1.03734611 -1.42359041 -0.97382993 -1.38531422]
 [ 1.03734611 -1.4822287  -1.1976854  -1.4345412 ]
 [ 1.03734611 -1.4822287  -0.90667328 -1.57518972]
 [ 1.03734611 -1.54086699 -1.17529986 -1.65957883]
 [-0.96399841 -1.54086699 -1.33199869 -1.68770853]
 [-0.96399841 -1.65814358 -1.51108307 -1.75100036]
 [ 1.03734611 -1.65814358 -1.26484205 -1.46970333]
 [-0.96399841 -1.77542017 -1.46631198 -2.24327016]
 [-0.96399841 -1.77542017 -1.80209519 -2.52456719]
 [-0.96399841  1.44968598  1.53335142  1.77224491]
 [-0.96399841  1.44968598  1.01848382  1.49094789]
 [-0.96399841  1.3324094   1.35426704  1.66675853]
 [-0.96399841  1.62560086  1.17518266  1.84256917]
 [ 1.03734611  1.03921793  1.13041156  1.22371571]
 [-0.96399841  0.86330305  1.08564046  1.06196992]
 [-0.96399841  0.68738816  1.2423393   1.07603477]
 [-0.96399841  0.62874987  0.97371273  0.79473774]
 [-0.96399841  0.62874987  3.10033976  0.46421373]
 [ 1.03734611  0.57011158  3.50327962  0.85802957]
 [-0.96399841  0.57011158  3.54805072  0.67518651]
 [ 1.03734611  0.45283499  0.63792951  0.52750557]
 [-0.96399841  0.45283499  0.03351972  0.50640829]
 [ 1.03734611  0.3941967  -0.10079357  0.52047314]
 [-0.96399841  0.3941967  -1.37676979  0.41498675]
 [-0.96399841  0.3355584  -0.2574924   0.45014888]
 [-0.96399841 -1.13039894 -1.37676979 -0.92820655]
 [ 1.03734611 -1.13039894 -0.32464904  0.45718131]
 [-0.96399841 -1.13039894 -1.37676979 -0.93523898]
 [-0.96399841 -0.48537771 -0.2574924   0.17588428]
 [-0.96399841 -0.6026543  -0.2127213   0.06336547]
 [ 1.03734611 -0.544016   -0.2574924  -0.30935309]
 [ 1.03734611 -0.42673941  0.05590527  0.23917611]
 [-0.96399841 -0.48537771  0.07829082  0.13368973]
 [ 1.03734611 -0.71993088 -0.2574924   0.07039789]
 [ 1.03734611 -0.83720747 -0.2127213   0.01413849]
 [-0.96399841 -0.6026543  -0.43657678  0.90725655]
 [ 1.03734611 -1.01312235 -0.45896233 -1.75100036]
 [-0.96399841 -1.01312235 -1.04098657 -1.57518972]
 [ 1.03734611  0.3355584  -0.19033576 -0.21089913]
 [ 1.03734611  0.3355584  -0.2574924   0.16885185]
 [ 1.03734611  0.27692011 -0.48134788  0.02117092]
 [-0.96399841  0.21828182 -0.43657678  0.22511126]
 [-0.96399841 -0.13354795 -0.92905883 -0.30935309]
 [ 1.03734611  1.50832428  1.01848382  1.54017487]
 [-0.96399841  0.04236693 -0.92905883  0.07039789]
 [ 1.03734611 -0.36810112 -0.01125137 -0.11244517]
 [ 1.03734611 -0.48537771 -0.34703459 -0.24606126]
 [-0.96399841 -1.24767553 -0.3022635  -1.23763329]
 [ 1.03734611 -0.42673941  2.16014676 -0.33045037]
 [-0.96399841 -1.36495211 -1.37676979 -1.55409244]
 [ 1.03734611 -0.6026543   1.51096587 -0.28825582]
 [-0.96399841  0.68738816  1.13041156  0.97758081]
 [-0.96399841  0.10100523 -0.34703459  0.07039789]
 [-0.96399841 -0.30946283 -0.2127213  -0.14057488]
 [-0.96399841  0.3355584  -0.45896233  0.17588428]
 [-0.96399841 -0.19218624 -1.04098657 -0.37264492]
 [-0.96399841 -1.01312235 -1.1976854  -1.75803279]
 [-0.96399841  1.62560086  1.69005025  1.61753155]
 [ 1.03734611  1.62560086  1.30949594  1.44875333]
 [-0.96399841  1.56696257  1.42142368  1.46281818]
 [-0.96399841  1.50832428  0.97371273  1.52611001]
 [ 1.03734611  1.44968598  1.37665258  1.61753155]
 [ 1.03734611 -0.48537771  0.36930294  1.50501274]
 [-0.96399841  1.03921793  0.86178499  1.27294269]
 [ 1.03734611  0.92194134  1.10802601  0.67518651]
 [ 1.03734611  0.92194134  0.99609827  1.26591026]
 [ 1.03734611  0.80466475  1.21995375  0.81583502]
 [ 1.03734611  0.62874987  0.86178499  0.85802957]
 [ 1.03734611  0.57011158  0.57077287  0.71034863]
 [ 1.03734611  0.51147328  0.63792951  0.78067289]
 [-0.96399841  0.51147328  1.30949594  0.72441349]
 [-0.96399841  0.80466475  0.83939944  0.67518651]
 [-0.96399841  0.80466475  0.63792951  0.88615928]
 [ 1.03734611  0.45283499  0.34691739  0.85099715]
 [ 1.03734611  0.45283499  0.74985725  0.47827859]
 [-0.96399841  0.21828182  0.36930294  0.30246794]
 [ 1.03734611  0.15964352  0.32453184  0.20401398]
 [-0.96399841  0.21828182  0.63792951  0.45014888]
 [ 1.03734611  0.04236693  0.10067636  0.17588428]
 [-0.96399841 -0.19218624  0.10067636  0.16885185]
 [-0.96399841 -0.30946283  0.01113417 -0.22496398]
 [ 1.03734611 -0.36810112 -0.14556466 -0.30232067]
 [-0.96399841 -0.48537771  0.10067636 -0.23902884]
 [ 1.03734611  1.62560086 -0.61566116 -0.886012  ]
 [-0.96399841 -0.6026543  -0.10079357 -0.40077463]
 [-0.96399841 -0.95448406  0.66031506 -0.99853081]
 [ 1.03734611 -1.01312235  0.45884513 -0.73129863]
 [ 1.03734611 -1.36495211 -0.86190219 -1.61035185]
 [ 1.03734611 -1.4822287  -1.26484205 -1.75100036]
 [-0.96399841 -1.4822287  -1.35438424 -1.82132462]
 [-0.96399841 -1.54086699 -1.55585417 -1.94087586]
 [-0.96399841 -1.65814358 -1.73493855 -0.75239591]
 [-0.96399841 -1.01312235 -1.10814321 -1.8986813 ]
 [-0.96399841 -0.83720747 -0.2574924   0.53453799]
 [-0.96399841 -0.95448406 -0.52611897 -0.41483948]
 [ 1.03734611  0.98057963  1.17518266  1.62456397]
 [-0.96399841 -0.36810112 -0.36942014  0.10556002]
 [-0.96399841  0.3941967   0.59315841  0.47827859]
 [-0.96399841  0.27692011  0.05590527  0.45718131]
 [ 1.03734611  0.45283499  0.27976075  0.47124616]
 [-0.96399841 -0.30946283 -0.03363692  0.4009219 ]
 [ 1.03734611  1.39104769  3.2122675   1.12526175]
 [ 1.03734611 -1.54086699 -1.22007095 -1.58925457]
 [-0.96399841  0.80466475  0.88417053  2.03947709]
 [ 1.03734611 -0.89584576 -0.2574924   0.84396472]
 [ 1.03734611  1.44968598  1.08564046 -0.46406646]
 [ 1.03734611  1.44968598  1.21995375  1.58940185]
 [ 1.03734611 -0.30946283 -0.07840802  1.68082338]
 [ 1.03734611  0.57011158  1.21995375  0.16885185]
 [-0.96399841 -1.24767553 -1.44392643 -1.17434145]
 [-0.96399841 -1.13039894 -0.36942014 -1.03369294]
 [ 1.03734611 -1.36495211 -1.37676979  0.41498675]
 [-0.96399841  1.3324094   0.90655608 -1.1602766 ]
 [ 1.03734611 -0.6026543   0.01113417  1.54017487]
 [-0.96399841  0.86330305  1.37665258  0.04930062]
 [-0.96399841  1.56696257  1.37665258  0.38685705]
 [ 1.03734611 -0.83720747 -0.03363692  1.22371571]
 [ 1.03734611  1.09785622  0.86178499  0.08446275]
 [-0.96399841 -0.48537771 -0.19033576 -0.25309369]
 [-0.96399841 -1.24767553 -0.92905883 -1.15324418]
 [-0.96399841 -1.07176064 -1.15291431 -0.92820655]
 [-0.96399841 -1.71678187 -1.82448074 -1.91977858]
 [-0.96399841 -1.71678187 -1.89163738 -2.23623773]
 [ 1.03734611 -1.83405846 -1.93640848 -2.27843229]
 [-0.96399841 -1.83405846 -1.95879403 -2.4190808 ]
 [-0.96399841 -1.83405846 -1.82448074 -2.34875655]]

In [404]:
X = standarized_data
y = df['Stunting']

In [405]:
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score,confusion_matrix, classification_report

# Naive Bayes

In [406]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y, test_size=0.2, random_state=10)

In [407]:
classifier = classifier.fit(X_train2, y_train2)

In [408]:
predicted = classifier.predict(X_test2)

In [409]:
print(classifier.score(X_test2, y_test2))

1.0

In [410]:
y_true = y_test2
y_pred2 = predicted
print(accuracy_score(y_true, y_pred2))

1.0

In [411]:
print(confusion_matrix(y_test2, y_pred2))
print(classification_report(y_test2, y_pred2))

[[38  0]
 [ 0  1]]
              precision    recall  f1-score   support

         2.0       1.00      1.00      1.00        38
         3.0       1.00      1.00      1.00         1

    accuracy                           1.00        39
   macro avg       1.00      1.00      1.00        39
weighted avg       1.00      1.00      1.00        39

#  KNN

In [412]:
from sklearn.neighbors import KNeighborsClassifier

In [413]:
X_train3, X_test3, y_train3, y_test3 = train_test_split(X, y, test_size=0.2, random_state=10)

In [414]:
knn=KNeighborsClassifier(n_neighbors=2)

In [415]:
knn.fit(X_train3,y_train3)

KNeighborsClassifier(n_neighbors=2)

In [416]:
knn.score(X_test3,y_test3)

0.9743589743589743

In [417]:
y_pred3 = knn.predict(X_test3)
print(confusion_matrix(y_test3, y_pred3))
print(classification_report(y_test3, y_pred3))

[[38  0]
 [ 1  0]]
              precision    recall  f1-score   support

         2.0       0.97      1.00      0.99        38
         3.0       0.00      0.00      0.00         1

    accuracy                           0.97        39
   macro avg       0.49      0.50      0.49        39
weighted avg       0.95      0.97      0.96        39

C:\Users\PERSONAL\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\PERSONAL\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\PERSONAL\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [418]:
import pickle

In [419]:
filename = 'data_balita.sav'
pickle.dump(classifier, open(filename,'wb'))